h4
{
    
    
    font-weight: bold;
    
}

h5
{
    font-size:40px;
    font-weight: bold;
    margin-bottom:60px;
}

h6
{
font-size:40px;
font-weight: bold;

}

h8
{
font-size: 40px;
font-weight: bold;

}

body
{
background-color:#b4b4b4;
}

.annonce
{
    
font-size: 15px; 
Background-color: #eeeeee;
border-radius: 15px 15px 15px 15px; 
box-shadow:5px 5px #a0a0a0;
padding:5px;
    padding-bottom:10px;
padding-left:20px;
list-style-type:none; 
    
}

.annonce2
{
    
font-size: 15px; 
Background-color: white;
border-radius: 15px 15px 15px 15px; 
box-shadow:5px 5px #a0a0a0;
padding:5px;
    padding-bottom:10px;
padding-left:20px;
list-style-type:none; 
    margin-bottom:20px; 
    
}

.annonce3{
       font-size: 15px; 
    Background-color: #eeeeee;
border-radius: 0px 0px 15px 15px; 
box-shadow:5px 5px #a0a0a0;
padding:5px;
    padding-bottom:10px;
padding-left:20px;
list-style-type:none; 
    margin-top:0px;
}
.annonce4{
       font-size: 15px; 
    Background-color: #eeeeee;
border-radius: 15px 15px 15px 15px; 
box-shadow:5px 5px #a0a0a0;
padding:5px;
    padding-bottom:10px;
padding-left:20px;
list-style-type:none; 
    margin-bottom:10px;
}

.annonce5{
       font-size: 15px; 
Background-color: #C1C1C1;
border-radius: 15px 15px 15px 15px; 
box-shadow:5px 5px #a0a0a0;
padding:5px;
    padding-bottom:10px;
padding-left:20px;
list-style-type:none; 
margin-bottom: 20px;
}

.header
{
/*padding-left:25px;*/
}

.cadre_logo
{
padding-bottom: 0px;
    margin-left:18px;
    border-radius: 0px 0px 5px 5px;
}

.bouton
{
background-color: #00b4dc;
border:none;

}

.bouton:hover
{
background-color: #008ebd;
}

.footer
{
border-top: 2px solid grey;
padding:15px;
margin-top:40px;
}

.rechercher
{
margin-top:40px;
}

.formRecherche
{
margin-top:10px;
box-shadow:5px 5px #a0a0a0;
}

.seConnecter
{
background-color:#00b4dc;
border:none;
}

.seConnecter:hover
{
background-color: #008ebd;
    
}

.boutonConnexion
{
background-color: #00b4dc;
border: none;
border-radius: 5px 5px 5px 5px;
font-weight: bold;
color: white;
margin-top:1px;
margin-bottom:1px;
width:200px;
}

.boutonConnexion:hover
{
background-color: #008ebd;
border: none;
border-radius: 5px 5px 5px 5px;
font-weight: bold;
color: white;

}

.boutonConnexion:focus
{
background-color: #00b4dc;

}

h1
{
margin-bottom:40px;
}

.logo
{
margin-top: 0px;
font-weight:600;
font-size:32px;
}

.btn_sInscrire
{
background-color:black;
padding-bottom:25px;
width:100px;
}

.btn_seConnecter
{
background-color:black;
padding-bottom:25px;
}

.cadre_logo
{
background-color:black;
color:white;
    padding-right:0px;
    padding-left:0px;
}

.prochainsVoyageDetails
{

background-color:#d4d4d4;
margin-top:10px;
    margin-bottom: 10px;
   /* margin-right:30px;
    margin-left:30px;*/
}

.voyagesEffectuesDetails
{
background-color:#d4d4d4;
margin-top:90px;
margin-right:40px;
margin-left:30px;   
}

.boutonNav
{
    
}

.navhh
{
    background-image: linear-gradient(to bottom, #3C3C3C 0px, #222 100%);
    border: outside;
    border-radius: 0px 0px 5px 5px;
    font-weight: bold;
    padding-left:5px;
    padding-right:5px;
    
}

.boutonNav
{
    color:white;
    margin:0px;
}

.navVisiteur
{
    padding-left:800px;   
}

.mesTrajets
{
    text-align: left;
}

.btn-xl {
    padding: 18px 28px;
    font-size: 22px;
    border-radius: 8px;
}

.infoErreur
{
    border: 5px #fb2929 solid;
    margin-bottom:10px;
    border-radius:5px 5px 5px 5px;
    background-color:#fb8592;
    color:Black;

    
}

.infoSucces
{
    border: 5px #29cd29 solid;
    margin-bottom:10px;
    border-radius:5px 5px 5px 5px;
    background-color:#92ca83;
    color:Black;

}

.infoMessage{
    vertical-align: middle;
    margin:0px;
    font-weight: bold;
    padding:5px;
}



.tableauTrajet{
    
    background-color: white;
    font-weight:bold;
    
}

.partie2{
    margin-top:30px;   
}

.chHeure{
    display:inline-block;
}

td
{
    
    padding: 10px; 
    vertical-align: middle;
    padding-left:0px;
    padding-right:0px;
}

.barreIndex{
    padding-left:0px;
    padding-right:0px;  
}

.barreAvis{
    margin-top:0px;  
    padding-right:0px;
    padding-left:0px;
    border-radius:5px 5px 0px 0px;
    
}

.bouton1{
    margin-left:0px;   
}



btn-classique{
    margin-left:10px;   
}



